.patients-wrapdiv {
  height: 50px;
  margin: 1.5% 0%;
  border: solid 1px grey;
  box-shadow: 9px 10px 21px -2px rgba(0,0,0,0.30);
}

.patients-wrapdiv-first {
  height: 100%;
  margin: 1.5% 0%;
  border: solid 1px grey;
  box-shadow: 9px 10px 21px -2px rgba(0,0,0,0.30);
}

th td {
  column-width: 100px;
  padding: 0;
}
